
.nav{
  height: 80px;
  width: 100%;
  border: 1px solid #000;
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.nav >ul{
  list-style: none;
  display: flex;

}
.nav >ul >li{
  margin-right: 20px;
}
.nav > ul >li >a{
  color: white;
  font-weight: 900;
  text-decoration: none;
}
.active{
  text-decoration: underline #4f39f6 2px;
 
  
}

.card{
  height: max-content;
  width: 250px;
  border: 1px solid black;
  padding: 5px;
  
}
.left-side{
  display: flex;
}